page-home {
    ion-header{
        background: #488aff;
        ion-navbar {
            background: #488aff;
            ion-title{
                background: #488aff;
            }
        }
    }
    .content-ios{
        background-color: #DDDDDD;
    }
}
